@import "components/color" ;

//Define primary color and stuff
$primary-color: color("brown", "darken-2") !default;
$secondary-color: color("green", "darken-4") !default;
$input-bg-color: $primary-color;
@import "materialize" ;


html {
	font-family: 'Cutive Mono', monospace;

//	font-family: 'Great Vibes', cursive;
//	font-family: 'Homemade Apple', cursive;
}
//Force load fonts
#hiddenElement1 {
	display : none ; 
	font-family: 'Homemade Apple', monospace;
}
#hiddenElement2 {
	display : none ; 
	font-family: 'Cutive Mono', cursive;
}
#hiddenElement3 {
	display : none ; 
	font-family: 'Great Vibes', cursive;
}

body {
	background : #544c49 ;
	width: 100%;
	height:100%
}


canvas  {
	//width : 1200px ;
	//height : 900px ;
	font-family: 'Cutive Mono', 'Homemade Apple', monospace;	
	background : url("/img/textures/ecranaccueuil.png");
	margin:auto ;
	display:block;
	background-position : 50% 50% ;
	background-repeat : no-repeat ;
	background-size : cover ; 
}
